@{
    ViewData["Title"] = "Home Page";
}
<div class="content-container">
    <div class="text-center">
        <h1>Kate's Knitting Club</h1>
        <h3>If you love to knit and crochet, this site is for you. Come learn with me!</h3>
        <br />
        <p>
        </p>The joy I've found in knitting is something I want to share with others, which is why I am passionate about encouraging more people to take up this wonderful craft. Whether you're a seasoned pro or a complete beginner, knitting welcomes all skill levels and offers a sense of community that is truly heartwarming. The world needs more knitters, and I believe that everyone can benefit from the soothing and fulfilling experience that knitting provides.
        <p>
            To foster this sense of community and camaraderie, I invite you to join my knitting club! Together, we can share tips, patterns, and the sheer joy of creating beautiful and functional pieces. Whether you're looking for a new hobby, a way to unwind, or simply want to connect with like-minded individuals, our knitting club is the perfect place to knit, chat, and create lasting friendships. So, grab your needles and join us on this exciting knitting adventure – a journey filled with warmth, creativity, and endless possibilities!
        </p>
    </div>
</div>
<br />
<div class="image-container">
    <div class="small-image">
        <img src="~/kateknits.jpg" />

        <!--<img src="~/yarnstash.jpg" />-->
    </div>
</div>

